@import url(https://db.onlinewebfonts.com/c/211be15f3b79857b52ec64538f6032a2?family=MoMA+Sans+Web+Semibold+Regular);
@font-face {
  font-family: "MoMA Sans";
  src: url("https://db.onlinewebfonts.com/t/211be15f3b79857b52ec64538f6032a2.eot");
  src: url("https://db.onlinewebfonts.com/t/211be15f3b79857b52ec64538f6032a2.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/211be15f3b79857b52ec64538f6032a2.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/211be15f3b79857b52ec64538f6032a2.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/211be15f3b79857b52ec64538f6032a2.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/211be15f3b79857b52ec64538f6032a2.svg#MoMA Sans Web Semibold Regular")format("svg");
}
body, option{
  font-family: "MoMA Sans","Source Sans Pro", sans-serif;
  font-size: 1em;
  padding: 1em;
}

h1 {
  font-size: 3.2em;
  margin: 0.25em 0;
}

h2 {
  font-size: 2.5em;
  margin: 35px 0 15px;
  max-width: 900px;
}

h3 {
  font-size: 1.5em;
  margin: 0.2em 0;
}

div {
  /* margin-top: 50px; */
  margin: auto;
  margin-bottom: 50px;
  max-width: 850px;
}

p {
  font-size: 1em;
  line-height: 1.4em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 1rem 0;
}
a {
  background-color: lightcyan;
  color: blue;
}

table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ccc;
}


#list li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.active {
  background-color: rgb(249, 185, 22);
  text-decoration: underline;
  font-weight: bolder;
}
.control {
  margin: auto;
  min-width: 700px;
}

.section {
  border-top: 3pt solid;
}

svg { 
  margin-left: 3em;
  margin: ;
}
g.tick > text {
  font-family: "MoMA Sans","Source Sans Pro", sans-serif;
  font-size: 10pt;
  padding: 1em;
  max-width: 100px;
}


#container{
  max-width: 100%;
  text-align: center
}
.bar {
  cursor: help;
}

.flex {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 0.7rem 0;
  /* justify-content: center; */
}
.flex > * {
  margin: 0px;
}
.tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip p{
  margin: 0.5em 0.2em;
}

#container {
  position: relative;
}
/* Style the switch container */
/* Hide the default checkbox */
.switch input {
  display: none;
}

/* Style the switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem; 
  height: 1.5rem; 
}

/* Style the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 2.5rem; 
}

/* Style the slider's appearance when it's in the checked state */
.slider::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem; 
  left: 0.2rem;
  bottom: 0.2rem; 
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider::before {
  transform: translateX(1.5rem); 
}
.label-left, .label-right{
  background-color: none; 
}

.capitalize {
  text-transform: capitalize;
}

